body {
  background-color: #F9C;
}

h1 {
  color: blue;
  font-size: 3em;
}

h2 {
  color: green;
  font-weight: normal
  style: italic;
}

.completed {
  font-family: 12px;
}

#tasks .completed {
  backgound: #ccc;
  text-decoration: underline;
}
